[submodule "L03/1XC3_L03"]
	path = L03/1XC3_L03
	url = git@github.com:Jasiri-w/1XC3_L03.git
[submodule "L07/1XC3_L07"]
	path = L07/1XC3_L07
	url = git@github.com:Jasiri-w/1XC3_L07.git
[submodule "L08/1XC3_L08_P1"]
	path = L08/1XC3_L08_P1
	url = git@github.com:Jasiri-w/1XC3_L08_P1.git
[submodule "L08/1XC3_L08_P2"]
	path = L08/1XC3_L08_P2
	url = git@github.com:Jasiri-w/1XC3_L08_P2.git
[submodule "L08/CS1XC3_L08_P3"]
	path = L08/CS1XC3_L08_P3
	url = git@github.com:Jasiri-w/CS1XC3_L08_P3.git
